.App{
  background-color: white;
  color: black;
}
.header{
  display: flex;
}

.client{
  display: block;
}

.execute{
 
    border-color:gray;
    border-style: solid;
    border-radius: 10px;
    background-size: 15px 15px;
    width: 300px;
    height: 80px;
    font-size: larger;
}

.products{
  display: block;
  padding-right: 900px;
}
.otherinfo{
  display: block;
  padding-right: 900px;
}
.otherInfoData{
  display: flex;
  align-content: space-between;
  margin-top: 20px;
}
.otherInfoData label, .otherinfo input{
width: 150px;
}
.infoProducts{
  display: flex;
  justify-content: space-between;
}
.elementProduct{
  width: 200px;
  border: solid 1px black;
}

.orders thead tr th{
  border: solid 1px black;
  color:darkslategray;
  }
  
.orders tbody tr td{
  border: solid 1px black;
  }

  .orders{
    background-color: #87CEEB;
    color:black
  }
  .orders thead{
    background-color:#ADD8E6;
  }

.historyOrders{
  border-top: double 4px black;
  margin-top:40px
}
